---
import LightboxImage from "@/components/ui/lightbox-image";
import { Heading } from "@/components/ui/typography";
import Layout from "@/layouts/Layout.astro";
import { data } from "@/lib/utils";
---

<Layout title="Photos - Haikel">
  <Heading as="h1">Photos</Heading>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 grid-rows-1 sm:grid-rows-2 mt-6 gap-4"
  >
    {
      data.photosList.map((item) => (
        <LightboxImage
          client:load
          src={`/images/photos/${item.id}.png`}
          alt={item.name}
          className="drop-shadow-md cursor-pointer"
        />
      ))
    }
  </div>
</Layout>
