---
import { Button } from "@/components/ui/button";
import "../index.css";
---

<html lang="en">
  <head>
    <title>Astro</title>
  </head>
  <body>
    <Button>Hello World</Button>
  </body>
</html>
